<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiao.mapper.SettingMapper">

    <resultMap id="BaseResultMap" type="com.qiao.pojo.Setting">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="title1" column="title1" jdbcType="VARCHAR"/>
            <result property="title2" column="title2" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="font1" column="font1" jdbcType="VARCHAR"/>
            <result property="color1" column="color1" jdbcType="VARCHAR"/>
            <result property="font2" column="font2" jdbcType="VARCHAR"/>
            <result property="color2" column="color2" jdbcType="VARCHAR"/>
            <result property="span" column="span" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,title1,title2,
        icon,font1,color1,
        font2,color2,span
    </sql>
</mapper>
